<h1>Product</h1>

<p> Name: <%= @product.nome %> </p>
<p> Price: <%= @product.price %> </p>
<p> Amount: <%= @product.amount %> </p>

<%= link_to "Back", products_path %>
<%= link_to 'Edit', edit_product_path %>